<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/addCategory.css">
</head>
<body>
    <!-- Sidebar -->
    <%- include("../../views/partials/admin/header") %>

    <!-- Main Content -->
    <div class="main-content">
        <h1>Edit Category</h1> 
        <h4 class="text-danger text-center"></h4>
        <form class="form-container" method="POST" action="/admin/category/editCategory/<%= category._id %>">
            <label for="category-name">Category Name:</label>
            <input type="text" id="category-name" name="name" placeholder="Enter category name" required >
            <div id="name-error" class="error-message"></div>
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="5" placeholder="Enter category description" required><%= category.description %></textarea>
            <div id="description-error" class="error-message"></div>
            <button type="submit" class="btn btn-success">Edit CATEGORY</button>
        </form>
    </div>

    <!-- Bootstrap JS (Optional) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
   
</body>
</html>
